.about {
    min-height: 310px;
    margin-top: 80px;
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__title {
        margin-top: 80px;
        font-family: 'Playfair Display Black', sans-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #2f2f2f;
    }
    &__descr {
        margin: 32px auto;
        max-width: 743px;
        font-family: 'Lato Regular', sans-serif;
        font-size: 16px;
        text-align: center;
        color: #28211f;
    }
}