@font-face {
    font-family: 'Playfair Display Bold';
    src: url('../font/PlayfairDisplay-Bold.eot');
    src: url('../font/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PlayfairDisplay-Bold.woff') format('woff'),
    url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Playfair Display Black';
    src: url('../font/PlayfairDisplay-Black.eot');
    src: url('../font/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/PlayfairDisplay-Black.woff') format('woff'),
    url('../font/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato Medium';
    src: url('../font/Lato-Medium.eot');
    src: url('../font/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Medium.woff') format('woff'),
    url('../font/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato Heavy';
    src: url('../font/Lato-Heavy.eot');
    src: url('../font/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Heavy.woff') format('woff'),
    url('../font/Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato Regular';
    src: url('../font/Lato-Regular.eot');
    src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Regular.woff') format('woff'),
    url('../font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato Semibold';
    src: url('../font/Lato-SemiboldItalic.eot');
    src: url('../font/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-SemiboldItalic.woff') format('woff'),
    url('../font/Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }